POSTGRES_USER=pguser
POSTGRES_PASSWORD=pgpass
POSTGRES_DB=pgdb

RAILS_ENV=development
DB_HOST=postgres
DB_USERNAME=pguser
DB_PASSWORD=pgpass
DB_NAME=pgdb
RAILS_GROUPS=assets

VITE_API_BASE_URL=/api/v1
VITE_FEATURE_X_ENABLED=true
VITE_USE_MOCKS=true

DB_PORT=5432
# REDIS_PORT=6379
FRONT_PORT=3000
BACK_PORT=8000
TELEGRAM_BOT_TOKEN=8358161446:AAFIq6dvyyQKYDcnsQypwgS8-j5YX_Nd0Yk
TELEGRAM_CHAT_ID=1461482368
MANAGER_EMAIL=agorbac@sfedu.ru