POSTGRES_USER=pguser
POSTGRES_PASSWORD=pgpass
POSTGRES_DB=pgdb

VITE_API_BASE_URL=/api/v1
VITE_FEATURE_X_ENABLED=true
VITE_USE_MOCKS=false

RAILS_ENV=development
RAILS_GROUPS=assets

DB_USERNAME=pguser
DB_PASSWORD=pgpass
DB_NAME=pgdb
DB_HOST=postgres

SMTP_USER=user@example.ru
SMTP_PASSWORD=supersecretpassword
SMTP_PORT=111
SMTP_ADDRESS=smtp.example.ru
MANAGER_EMAIL=manager@example.ru

TELEGRAM_BOT_TOKEN=supersecrettoken
TELEGRAM_CHAT_ID=1234567890

LEADS_EXPORT_SECRET=supersecret

HOST=http://localhost
DB_PORT=5432
FRONT_PORT=3000
BACK_PORT=8000
