POSTGRES_USER=pguser
POSTGRES_PASSWORD=pgpass
POSTGRES_DB=pgdb

RAILS_ENV=development
DB_HOST=postgres
DB_USERNAME=pguser
DB_PASSWORD=pgpass
DB_NAME=pgdb
RAILS_GROUPS=assets

VITE_API_BASE_URL=/api/v1
VITE_FEATURE_X_ENABLED=true
VITE_USE_MOCKS=true

DB_PORT=5432
REDIS_PORT=6379
FRONT_PORT=3000
BACK_PORT=8000

TELEGRAM_BOT_TOKEN=your_token
TELEGRAM_CHAT_ID=1111111111
SMTP_USER=user@example.com
SMTP_PASSWORD=random_pass
MANAGER_EMAIL=manager@example.com
NVIDIA_API_KEY=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
NVIDIA_MODEL=nvidia/nemotron-3-super-120b-a12b